<p>display-all works!</p>
<!-- <p>{{owners | json}}</p> -->
<h1>List of Owners</h1>
<!-- <p>
     {{owners | json}} -->
<!-- </p> --> 
<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let rec of owners">
            <div>
                <h2>{{rec.ownerName}}</h2>
                <hr>
                <p>{{rec.ownerPhone}}</p>
                <p> 
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-primary">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>